.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding-top: 10px;
}
.logo-wrapper {
  display: flex;
  position: relative;
  justify-content: center;

  a {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.mm-logo {
  width: 75px;
  padding-left: 10px;
}
.menu-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  padding-right: 50px;

  a {
    position: relative;
    text-decoration: none;
    // font-weight: bold;
    // font-family: Work Sans;
    color: black;
    padding-right: 50px;

    @media (max-width: 768px) {
      padding-right: 20px;
    }
  }
}

.popup-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.form {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 450px;
  width: 80%;
  margin: auto;
  margin-top: 50px;

  label {
    padding-left: 5px;
    margin-bottom: 10px;
  }
  input {
    position: relative;
    height: 40px;
    border: none;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: #F4F4F8;
  }

  .submit {
    height: 40px;
    border: none;
    margin-top: 30px;
    border-radius: 20px;
    cursor: pointer;
  }

  .submit-full {
    width: 100%;
  }

  .submit-half {
    width: 45%;
  }

  .submit-color {
    background: #FAAD1A;
    color: white;
    transition: ease 0.5s;
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;

    &:hover {
      // background: #FAAD1A;
      background: #FFBC1F;
      transition: ease 0.5s;
      -webkit-transition: ease 0.5s;
      -moz-transition: ease 0.5s;
      -ms-transition: ease 0.5s;
      -o-transition: ease 0.5s;
    }
  }
}