.main-container {
  max-width: 1800px;
  width: 100%;
  max-height: 1080px;
  height: 100%;
  margin: auto;
  font-family: "Work Sans", sans-serif;
}

.full-width {
  width: 100%;
}

@import "color";
@import "font";
@import "home";
@import "signup";
@import "card";
@import "listing";
@import "profile";
